.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
  }
  
  label {
    margin-bottom: 8px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  }
  
  button:hover {
    background-color: #45a049;
  }
  